[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vimoutliner"]
	path = vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
